@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(188, 188, 188, 0.1);
    padding: 1.25vw 12.5vw;

    @media only screen and (max-width: 499px) {
        padding: $mobile16px;
    }

    &__logo img {
        width: 6.042vw;
        height: 3.056vw;

        @media only screen and (max-width: 499px) {
            width: 19.5vw;
            height: 10vw;
        }
    }

    &__nav {
        display: flex;

        @media only screen and (max-width: 499px) {
            display: none;
        }

        li {

            &:not(:last-child) {
                margin-right: $desctop20px;
            }

            &:hover {
                a {
                    color: $greenLight;
                }
            }

            a {
                font-family: $montserrat400;
                font-size: $desctop10px;
                line-height: $desctop12px;
                padding: $desctop10px;
                color: $textDarkLight;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
    }

    &__socialIconsWrapper {
        display: flex;
        align-items: center;
        height: fit-content;
        position: relative;
        z-index: 1;

        &_item svg {
            margin-right: $desctop10px;
            width: $desctop20px;
            height: $desctop20px;
            display: flex;

            &:hover {

                path {
                    opacity: 1;

                    &:first-child {
                        fill: $greenLight;
                    }

                    &:last-child {
                        fill: #fff;
                        opacity: 1;
                    }
                }
            }

            @media only screen and (max-width: 499px) {
                width: 5.4vw;
                height: 5.4vw;
                margin-right: $mobile12px;
            }
        }
    }
}
