@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.implementation {
    background-color: #fff;
    padding: $desctop68px 12.5vw $desctop104px;

    @media only screen and (max-width: 499px) {
        padding: $mobile25px $mobile16px $mobile60px;
    }

    &__title {
        font-family: $montserrat400;
        font-size: $desctop36px;
        line-height: $desctop40px;
        color: $textDarkLight;
        text-align: left;
        margin-bottom: $desctop60px;

        @media only screen and (max-width: 499px) {
            font-size: $mobile25px;
            line-height: $mobile34px;
            margin-bottom: $mobile55px;
            text-align: center;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width: 499px) {
            flex-direction: column;
        }
    }

    &__item {
        display: flex;

        @media only screen and (max-width: 499px) {

            &:not(:last-child) {
                margin-bottom: $mobile50px;
            }
        }

        &_icon {
            width: $desctop66px;
            height: $desctop66px;
            margin-right: $desctop22px;

            @media only screen and (max-width: 499px) {
                width: $mobile65px;
                height: $mobile65px;
                margin-right: $mobile21px;
            }
        }

        &_title {
            font-family: $montserrat700;
            font-size: $desctop16px;
            line-height: $desctop18px;
            color: #000000;
            margin-bottom: $desctop8px;

            @media only screen and (max-width: 499px) {
                font-size: $mobile15px;
                line-height: $mobile19px;
                margin-bottom: $mobile7px;
                max-width: 50vw;
            }
        }

        &_subTitle {
            font-family: $montserrat400;
            font-size: $desctop13px;
            line-height: $desctop17px;
            color: #000000;

            @media only screen and (max-width: 499px) {
                font-size: $mobile13px;
                line-height: $mobile17px;
            }
        }

        &_rightSide {
            max-width: 15vw;

            @media only screen and (max-width: 499px) {
                max-width: initial;
            }
        }
    }
}
