@import '../../../assets/styles/variables';
@import '../../../assets/styles/mixin';

.starting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $desctop104px 12.5vw;
    background: linear-gradient(66.54deg, #3B99FF 26.88%, #047DFF 106.47%);

    &__title {
        font-family: $montserrat400;
        font-size: $desctop45px;
        line-height: $desctop60px;
        color: #fff;
    }

    &__button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 17.4vw;
        height: 3.75vw;
        background: $greenLight;
        border-radius: $desctop4px;
        font-family: $montserrat500;
        font-size: $desctop14px;
        line-height: $desctop18px;
        color: #fff;
        cursor: pointer;
        border: $desctop1px solid transparent;
        padding: $desctop20px $desctop45px;
        text-decoration: none;
        margin-left: 2.2vw;

        @media only screen and (max-width: 499px) {
            font-size: 4vw;
            line-height: $mobile12px;
            padding: $mobile12px $mobile30px;
            border-radius: 2px;
        }

        &:hover {
            border: $desctop1px solid $greenLight;
            color: $greenLight;
            background: transparent;
        }
    }
}

.countDown {
    display: flex;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            margin-right: $desctop80px;
        }

        &_time {
            font-family: $montserrat500;
            font-size: $desctop60px;
            line-height: $desctop55px;
            color: $greenLight;
            width: 5vw;
            text-align: center;
        }

        &_label {
            font-family: $montserrat400;
            font-size: $desctop13px;
            line-height: $desctop45px;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}
